<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} <link rel="stylesheet" href={% static 'learn/course.css'%}
    />
    <meta charset="UTF-8" />
    <title>Online Courses</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <p>
      Username {{user.username}}, First name: {{user.first_name}}, Last name:
      {{user.last_name}}
    </p>

    <div class="rightalign">
      <div class="dropdown">
        <button class="dropbtn">{{user.first_name}}</button>
        <div class="dropdown-content">
          <a href="{% url 'learn:logout' %}"> Logout </a>
        </div>
      </div>
    </div>

    {% else %}
    <div class="rightalign">
      <div class="dropdown">
        <button class="dropbtn">Visitor</button>
        <div class="dropdown-content">
          <a href="{% url 'learn:registration' %}"> Signup </a>
          <a href="{% url 'learn:login' %}"> Login </a>
        </div>
      </div>
    </div>
    {% endif %}
    <h2>Popular courses list</h2>

    {% if course_list %}
    <ul>
      {% for course in course_list %}
      <div class="container">
        <div class="row">
          <div class="column-33">
            <img
              src="{{MEDIA_URL}}/{{course.image}}"
              width="360"
              height="360"
            />
          </div>
          <div class="column-66">
            <h1 class="xlarge-font"><b>{{ course.name }}</b></h1>
            <p style="color: MediumSeaGreen ''">
              {{course.total_enrollment}} enrolled
            </p>
            <p>{{course.description}}</p>
            <form action="{% url 'learn:enroll' course.id %}" method="POST">
              {% csrf_token %}
              <input class="button" type="submit" value="Enroll" />
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>No courses are available.</p>
    {% endif %}
  </body>
</html>
